
<md-grid-list cols="1" rowHeight="10:1">
    <md-grid-tile><h2>Marvel Character List</h2></md-grid-tile>
</md-grid-list>
<md-grid-list cols="2" rowHeight="10:1">
    <md-grid-tile><h3>ID</h3></md-grid-tile>
    <md-grid-tile><h3>Name</h3></md-grid-tile>

    <div *ngFor="let character of characters">
            <md-grid-tile>{{character.id}}</md-grid-tile>
            <md-grid-tile>{{character.name}}</md-grid-tile>
    </div>
</md-grid-list>
<md-spinner id="loader" *ngIf=getIsLoading()></md-spinner>
<md-grid-list cols="1" rowHeight="8:1">
    <md-grid-tile>
        <div class="button" *ngIf=showGetPrev()>
            <button md-raised-button (click)="getPrevCharacters()" >Previous 20</button>
        </div>
        <div class="button" *ngIf=showGetNext()>
            <button md-raised-button (click)="getNextCharacters()">Next 20</button>
        </div>
    </md-grid-tile>
</md-grid-list>
